html,
body {
    height: 100% !important;
}

#osciloscope-row {
    height: 50% !important;
}

#control-row {
    height: 50% !important;
}

.comName:hover {
    cursor: pointer;
}

.comName {
    text-align: center;
}

.icon-device {
    text-align: center;
}

th {
    text-align: center
}